---
- name: Assure the current user name.
  command: id -un
  register: user_name
  check_mode: no
  changed_when: False

- name: Assure the current group name.
  command: id -gn
  register: group_name
  check_mode: no
  changed_when: False

- name: Ensure a directory for Homebrew installation exists.
  file:
    path: "{{ brew_dir }}"
    owner: "{{ user_name.stdout }}"
    group: "{{ group_name.stdout }}"
    mode: 0755
    state: directory
  become: yes
  become_method: sudo

- name: Ensure Homebrew is installed.
  shell: curl -L https://github.com/Homebrew/homebrew/tarball/master | tar xz --strip 1 -C {{ brew_dir }}
  args:
    creates: "{{ brew_dir }}/bin/brew"
    warn: no

- name: Ensure configured taps are added.
  homebrew_tap:
    tap: "{{ item }}"
    state: present
  with_items: "{{ brew_taps }}"
  environment:
    PATH: "{{ brew_dir }}/bin:{{ ansible_env.PATH }}"

- name: Upgrade Homebrew and its managed packages if configured.
  homebrew:
    install_options: "--build-from-source"
    update_homebrew: yes
    upgrade_all: yes
  when: brew_upgrade_all
  environment:
    PATH: "{{ brew_dir }}/bin:{{ ansible_env.PATH }}"

- name: Ensure configured Homebrew packages are installed.
  homebrew:
    install_options: "--build-from-source"
    name: "{{ item }}"
    state: present
  with_items: "{{ brew_packages }}"
  environment:
    PATH: "{{ brew_dir }}/bin:{{ ansible_env.PATH }}"

- name: Ensure configured Homebrew Cask packages are installed.
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items: "{{ cask_packages }}"
  environment:
    PATH: "{{ brew_dir }}/bin:{{ ansible_env.PATH }}"
    HOMEBREW_CASK_OPTS: "--appdir={{ app_dir }}"
